.editor h1 {
  display: block;
  font-size: 2em;
  /* margin-top: 0.67em;
  margin-bottom: 0.67em; */
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.editor h2 {
  display: block;
  font-size: 1.5em;
  /* margin-top: 0.83em;
  margin-bottom: 0.83em; */
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.editor h3 {
  display: block;
  font-size: 1.17em;
  /* margin-top: 1em;
  margin-bottom: 1em; */
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.editor h4 {
  display: block;
  font-size: 1em;
  /* margin-top: 1.33em;
  margin-bottom: 1.33em; */
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.editor h5 {
  display: block;
  font-size: .83em;
  /* margin-top: 1.67em;
  margin-bottom: 1.67em; */
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.editor h6 {
  display: block;
  font-size: .67em;
  /* margin-top: 2.33em;
  margin-bottom: 2.33em; */
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.editor p {
  display: block;
  /* margin-top: 1em;
  margin-bottom: 1em; */
  margin-left: 0;
  margin-right: 0;
}

.editor code {
  background: rgba(0, 0, 0, 0.1);
}

.editor ul {
  margin-left: 2rem;
  list-style: disc;
}