@tailwind base;
@tailwind components;
@tailwind utilities;

.svelte-tags-input-layout {
  border-radius: 0.5rem!important;
  background-color: rgb(249 250 251)!important;
}

.svelte-tags-input-layout:hover, .svelte-tags-input-layout:focus, .svelte-tags-input-layout:focus-within {
  border: 1px solid rgb(59 130 246)!important;
  outline: 1px solid rgb(59 130 246)!important;
}

.svelte-tags-input-layout input {
  box-shadow: none!important;
}

.svelte-tags-input-tag {
  color: rgb(31 41 55)!important;
  background-color: rgb(243 244 246)!important;
  border-radius: .25rem!important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #E2E8F0;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #CBD5E0;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #F7FAFC;
  border-radius: 5px;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?mpuld7');
  src:  url('/fonts/icomoon.eot?mpuld7#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?mpuld7') format('truetype'),
    url('/fonts/icomoon.woff?mpuld7') format('woff'),
    url('/fonts/icomoon.svg?mpuld7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e914";
}
.icon-linkedin:before {
  content: "\e915";
}
.icon-whatsapp:before {
  content: "\e905";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-arrow-right-arrow-left:before {
  content: "\e906";
}
.icon-calendar-circle-user:before {
  content: "\e907";
}
.icon-circle-info:before {
  content: "\e916";
}
.icon-clock-desk:before {
  content: "\e908";
}
.icon-copy:before {
  content: "\e903";
}
.icon-display:before {
  content: "\e909";
}
.icon-file-image:before {
  content: "\e90a";
}
.icon-files:before {
  content: "\e90b";
}
.icon-film-simple:before {
  content: "\e90c";
}
.icon-folder-image:before {
  content: "\e90d";
}
.icon-key:before {
  content: "\e913";
}
.icon-laptop-mobile:before {
  content: "\e90e";
}
.icon-layer-group:before {
  content: "\e900";
}
.icon-magnifying-glass:before {
  content: "\e901";
}
.icon-message-captions:before {
  content: "\e90f";
}
.icon-palette:before {
  content: "\e910";
}
.icon-shuffle:before {
  content: "\e911";
}
.icon-spider-web:before {
  content: "\e904";
}
.icon-text-size:before {
  content: "\e912";
}